<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even){background-color: #f2f2f2}
        </style>
    </head>
    <body>
        <form action="/addwordbycategory" method="post">
            words: <textarea style="height:200px;" name="words" type="text" ></textarea>
            categories: <textarea style="height:200px;" name="categories" type="text">{{categories}}</textarea>
            <input value="Add" type="submit" />
        </form>
    </body>
</html>